.yannick .wrap {
  font-weight: 400; }

h1 {
  font-weight: 700; }

h2 {
  font-weight: 700; }

h3 {
  font-weight: 700; }

h4 {
  font-weight: 700; }

h5 {
  font-weight: 700; }

h6 {
  font-weight: 700; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format("opentype"); }

.yannick .product p, .yannick .location p {
  text-align: justify;
  text-justify: inter-ideographic; }

.flex-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.yannick section {
  width: 100%;
  position: relative; }

@media screen and (max-width: 767px) {
  .yannick .break-m {
    display: block; } }

@media screen and (max-width: 767px) {
  .yannick .none-m {
    display: none; } }

.yannick .line-cir {
  position: relative; }
  .yannick .line-cir:after {
    content: '';
    width: 100%;
    height: 20px;
    background: url(https://fs1.shop123.com.tw/400189/upload/harddisc/4001890_file_912722849152018052528.png) no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: -23px;
    left: 0; }

.yannick .abs {
  position: absolute; }

.yannick .btn-go {
  height: 219px;
  width: 167px;
  background: url(https://fs1.shop123.com.tw/400189/upload/harddisc/4001890_file_667835839152018052558.png) no-repeat center bottom;
  background-size: contain;
  display: block;
  position: fixed;
  top: 180px;
  right: 40px;
  color: white;
  font-size: 28px;
  font-size: 2.8rem;
  padding-top: 107px;
  font-weight: 500;
  z-index: 5;
  transition: all 0.3s ease; }
  @media screen and (max-width: 1440px) {
    .yannick .btn-go {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); } }
  @media screen and (max-width: 1200px) {
    .yannick .btn-go {
      right: 0;
      -webkit-transform: scale(0.7);
      transform: scale(0.7); } }
  @media screen and (max-width: 1024px) {
    .yannick .btn-go {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      top: 120px; } }
  @media screen and (max-width: 767px) {
    .yannick .btn-go {
      display: none; } }

.yannick h2 {
  font-size: 38px;
  font-size: 3.8rem;
  letter-spacing: 3.8px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .yannick h2 {
      font-size: 3rem;
      letter-spacing: 3px; } }
  @media screen and (max-width: 413px) {
    .yannick h2 {
      font-size: 2.6rem;
      letter-spacing: 2.6px; } }
  @media screen and (max-width: 374px) {
    .yannick h2 {
      font-size: 2.2rem;
      letter-spacing: 2.2px; } }
  .yannick h2 span {
    display: inline-block;
    vertical-align: middle; }
  .yannick h2 .ytm {
    width: 93px;
    margin-right: 10px; }
    @media screen and (max-width: 767px) {
      .yannick h2 .ytm {
        width: 65px; } }
    @media screen and (max-width: 374px) {
      .yannick h2 .ytm {
        width: 46px;
        margin-right: 5px; } }

.yannick .sub {
  font-size: 24px;
  font-size: 2.4rem;
  letter-spacing: 2.4px;
  margin-bottom: 35px; }
  @media screen and (max-width: 767px) {
    .yannick .sub {
      font-size: 1.8rem;
      letter-spacing: 1.8px;
      margin-top: 10px;
      margin-bottom: 13px; } }
  @media screen and (max-width: 413px) {
    .yannick .sub {
      font-size: 1.6rem;
      letter-spacing: 1.6px;
      margin-top: 10px;
      margin-bottom: 15px; } }
  .yannick .sub span {
    display: inline-block;
    letter-spacing: 2.4px; }
  .yannick .sub .ytm {
    width: 70px;
    margin-right: 7px; }
    @media screen and (max-width: 767px) {
      .yannick .sub .ytm {
        width: 45px; } }
    @media screen and (max-width: 413px) {
      .yannick .sub .ytm {
        width: 40px; } }

.yannick .icon-play {
  width: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1; }
  @media screen and (max-width: 767px) {
    .yannick .icon-play {
      width: 70px; } }

.yannick .red {
  color: #e10012; }

.yannick h3 {
  font-size: 24px;
  font-size: 2.4rem;
  letter-spacing: 2.4px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .yannick h3 {
      font-size: 1.8rem; } }
  @media screen and (max-width: 374px) {
    .yannick h3 {
      font-size: 1.6rem; } }

.yannick .btn {
  width: 270px;
  height: 70px;
  line-height: 70px;
  color: white;
  font-size: 20px;
  font-size: 2rem;
  display: inline-block;
  background: #e10012;
  letter-spacing: 2px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: 0.35s ease all; }
  @media screen and (min-width: 1025px) {
    .yannick .btn:hover {
      line-height: 9em;
      background: black; } }
  @media screen and (max-width: 767px) {
    .yannick .btn {
      font-size: 1.6rem;
      height: 60px;
      line-height: 60px; } }
  @media screen and (max-width: 413px) {
    .yannick .btn {
      font-size: 1.5rem;
      height: 60px;
      line-height: 45px; } }
  @media screen and (max-width: 374px) {
    .yannick .btn {
      font-size: 1.3rem;
      height: 50px;
      line-height: 50px; } }
  .yannick .btn:before {
    content: attr(data-text);
    position: absolute;
    top: -2.75em; }

.yannick .line-red {
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem; }

.yannick img {
  width: 100% !important;
  height: auto !important;
  display: block !important; }

.yannick * {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0; }

.yannick *:focus {
  outline: none; }

.yannick a {
  text-decoration: none;
  display: inline-block;
  /* for IE */ }

.yannick ul {
  font-size: 0;
  list-style: none; }

.yannick .wrap {
  max-width: 1200px;
  margin: auto;
  line-height: 1.5;
  text-align: center;
  color: black;
  min-width: 314px;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  font-family: 'Noto Sans TC', 'PingFang TC', 'Heiti TC', 'Apple LiGothic Medium', 'Microsoft JhengHei', sans-serif !important; }
  @media screen and (min-width: 768px) {
    .yannick .wrap {
      min-width: 1024px; } }
  @media screen and (max-width: 767px) {
    .yannick .wrap {
      width: 100%; } }
  .yannick .wrap p,
  .yannick .wrap div,
  .yannick .wrap span,
  .yannick .wrap a {
    font-family: 'Noto Sans TC', 'PingFang TC', 'Heiti TC', 'Apple LiGothic Medium', 'Microsoft JhengHei', sans-serif !important; }

.yannick .lightbox {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50; }
  .yannick .lightbox .container {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 767px) {
      .yannick .lightbox .container {
        width: 100%; } }
  .yannick .lightbox .close-btn {
    width: 60px;
    display: block;
    right: 20px;
    top: 20px;
    transition: .3s ease; }
    @media screen and (max-width: 767px) {
      .yannick .lightbox .close-btn {
        right: inherit;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 8%; } }
    @media screen and (min-width: 1025px) {
      .yannick .lightbox .close-btn:hover {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg); } }

.yannick header {
  width: 100%;
  background: #fff;
  padding: 15px; }
  @media screen and (max-width: 767px) {
    .yannick header {
      position: fixed;
      height: 100vh;
      background: #e10012;
      z-index: 10;
      top: 0;
      left: -100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .yannick header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .yannick header ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 80px; } }
  .yannick header li {
    width: 230px;
    position: relative;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .yannick header li {
        width: 100%;
        margin: 25px auto; } }
    .yannick header li:not(:last-child):after {
      content: '';
      width: 8px;
      height: 100%;
      background: url(https://fs1.shop123.com.tw/400189/upload/harddisc/4001890_file_989331546152018052515.png) no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: 0;
      display: block; }
      @media screen and (max-width: 767px) {
        .yannick header li:not(:last-child):after {
          background: none;
          border-bottom: 2px dashed rgba(255, 255, 255, 0.4902);
          right: inherit;
          width: 100%;
          left: 50%;
          top: 25px;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%); } }
  .yannick header a {
    color: black;
    font-size: 15px;
    font-size: 1.5rem;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }
    .yannick header a span {
      display: block; }
    @media screen and (min-width: 1025px) {
      .yannick header a:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        color: #e10012; } }
    @media screen and (max-width: 767px) {
      .yannick header a {
        color: white;
        font-size: 1.8rem;
        font-weight: 500; } }
  .yannick header .icon {
    display: inline-block;
    margin-bottom: 5px; }
    .yannick header .icon img {
      height: 53px; }
    @media screen and (max-width: 767px) {
      .yannick header .icon {
        display: none; } }

.yannick .scrolled {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  border-bottom: 5px solid #e10012; }

.yannick .menu-btn {
  width: 23px;
  height: 27vh;
  background: url(https://fs1.shop123.com.tw/400189/upload/harddisc/4001890_file_623433640182018052936.png) no-repeat;
  background-size: contain;
  position: fixed;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 11; }
  @media screen and (min-width: 768px) {
    .yannick .menu-btn {
      display: none; } }

.yannick .open-header {
  left: 0; }

.yannick .open-btn {
  background: url(https://fs1.shop123.com.tw/400189/upload/harddisc/4001890_file_473704740182018052947.png) no-repeat right center;
  background-size: contain;
  left: inherit;
  right: 10px; }

@media screen and (min-width: 1025px) {
  .yannick .burBox {
    display: none; } }

.yannick a.bur {
  cursor: pointer;
  padding: 9px 0 14px;
  width: 42px;
  display: block;
  vertical-align: middle; }
  @media screen and (max-width: 767px) {
    .yannick a.bur {
      width: 30px;
      padding: 9px 0; } }
  .yannick a.bur span {
    position: relative;
    display: block;
    width: 42px;
    height: 5px;
    background: #000;
    transition: all .2s ease-in-out;
    border-radius: 2px; }
    @media screen and (max-width: 767px) {
      .yannick a.bur span {
        width: 30px;
        height: 3px;
        border-radius: 3px; } }
    .yannick a.bur span:before, .yannick a.bur span:after {
      border-radius: 2px;
      position: absolute;
      background: #000;
      content: '';
      height: 5px;
      transition: all .2s ease-in-out;
      right: 0;
      width: 42px; }
      @media screen and (max-width: 767px) {
        .yannick a.bur span:before, .yannick a.bur span:after {
          width: 30px;
          height: 3px; } }
    .yannick a.bur span:before {
      top: -12px; }
      @media screen and (max-width: 767px) {
        .yannick a.bur span:before {
          top: -9px; } }
    .yannick a.bur span:after {
      top: 12px; }
      @media screen and (max-width: 767px) {
        .yannick a.bur span:after {
          top: 9px; } }

.yannick .burBox {
  height: 30px;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10; }
  .yannick .burBox a.active {
    padding: 9px 0 16px; }
    .yannick .burBox a.active span {
      background: transparent; }
      .yannick .burBox a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px);
        background: #000;
        top: -3px; }
        @media screen and (max-width: 767px) {
          .yannick .burBox a.active span:before {
            top: -6px; } }
      .yannick .burBox a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px);
        background: #000; }

.yannick .kv {
  height: 85vh;
  padding-top: 60px;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .yannick .kv {
      min-height: 530px; } }
  @media screen and (max-height: 750px) {
    .yannick .kv {
      height: 80vh;
      padding-top: 35px; } }
  @media screen and (max-width: 1024px) {
    .yannick .kv {
      height: 78vh;
      padding-top: 45px; } }
  @media screen and (max-width: 767px) {
    .yannick .kv {
      width: 100%;
      height: 78vh;
      padding-top: 60px; } }
  @media screen and (max-width: 374px) {
    .yannick .kv {
      padding-top: 40px; } }
  .yannick .kv .main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.yannick h1 {
  font-size: 38px;
  font-size: 3.8rem;
  font-weight: bold;
  position: relative;
  letter-spacing: 3.8px;
  line-height: 0.3; }
  @media screen and (max-width: 1024px) {
    .yannick h1 {
      -webkit-transform: scale(0.9);
      transform: scale(0.9); } }
  @media screen and (max-height: 750px) {
    .yannick h1 {
      -webkit-transform: scale(0.9);
      transform: scale(0.9); } }
  @media screen and (max-width: 767px) {
    .yannick h1 {
      font-size: 3rem;
      -webkit-transform: scale(1);
      transform: scale(1);
      line-height: 1; } }
  @media screen and (max-width: 374px) {
    .yannick h1 {
      font-size: 2.2rem; } }
  .yannick h1 > span {
    display: block; }
    .yannick h1 > span span {
      vertical-align: middle; }
  .yannick h1 .ytm {
    width: 95px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 3px; }
    @media screen and (max-width: 767px) {
      .yannick h1 .ytm {
        width: 65px; } }
    @media screen and (max-width: 374px) {
      .yannick h1 .ytm {
        width: 50px;
        margin-right: 6px;
        margin-top: 1px; } }
  @media screen and (max-width: 767px) {
    .yannick h1 .line-cir:after {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: -24px; } }

.yannick .year {
  width: 53px;
  display: inline-block;
  margin: 0 8px 14px; }
  @media screen and (max-width: 767px) {
    .yannick .year {
      width: 35px;
      margin: 0 8px 0 5px; } }
  @media screen and (max-width: 374px) {
    .yannick .year {
      width: 26px; } }

.yannick .station {
  font-size: 40px;
  font-size: 4rem;
  padding: 0 3px; }
  @media screen and (max-width: 767px) {
    .yannick .station {
      font-size: 3.2rem; } }
  @media screen and (max-width: 374px) {
    .yannick .station {
      font-size: 2.4rem; } }

.yannick .inner,
.yannick .por {
  position: relative; }

.yannick .flagBox {
  width: 100%;
  top: 0;
  left: 0; }
  @media screen and (min-width: 768px) {
    .yannick .flagBox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .yannick .flagBox > div {
    width: 30%; }
    @media screen and (max-width: 1024px) {
      .yannick .flagBox > div {
        width: 40%; } }
    @media screen and (max-width: 767px) {
      .yannick .flagBox > div {
        width: 106%; } }

@media screen and (max-width: 767px) {
  .yannick .flag-l {
    display: none; } }

@media screen and (min-width: 768px) {
  .yannick .flag-r {
    max-width: 600px; } }

.yannick .b1,
.yannick .b2,
.yannick .b3 {
  width: 35px;
  display: block; }
  @media screen and (max-width: 767px) {
    .yannick .b1,
    .yannick .b2,
    .yannick .b3 {
      width: 30px; } }
  @media screen and (max-width: 413px) {
    .yannick .b1,
    .yannick .b2,
    .yannick .b3 {
      width: 25px; } }
  @media screen and (max-width: 374px) {
    .yannick .b1,
    .yannick .b2,
    .yannick .b3 {
      width: 20px; } }

.yannick .b1 {
  top: -36px;
  left: -162px; }
  @media screen and (max-width: 767px) {
    .yannick .b1 {
      top: 33px;
      left: -32px; } }
  @media screen and (max-width: 413px) {
    .yannick .b1 {
      left: -22px; } }
  @media screen and (max-width: 374px) {
    .yannick .b1 {
      top: 30px;
      left: -28px; } }

.yannick .b2 {
  right: -156px;
  bottom: -76px; }
  @media screen and (max-width: 767px) {
    .yannick .b2 {
      right: -35px;
      bottom: -62px; } }
  @media screen and (max-width: 413px) {
    .yannick .b2 {
      right: -18px;
      bottom: -104px; } }
  @media screen and (max-width: 374px) {
    .yannick .b2 {
      bottom: -55px;
      right: -27px; } }

.yannick .b3 {
  top: -20px;
  left: -55px; }
  @media screen and (max-width: 767px) {
    .yannick .b3 {
      top: -22px;
      left: -43px; } }
  @media screen and (max-width: 413px) {
    .yannick .b3 {
      top: -19px;
      left: -34px; } }
  @media screen and (max-width: 374px) {
    .yannick .b3 {
      top: -8px;
      left: -32px; } }

.yannick .left-kv {
  width: 45%; }
  @media screen and (max-width: 767px) {
    .yannick .left-kv {
      width: 100%; } }

.yannick .right-kv {
  width: 55%; }
  @media screen and (max-width: 767px) {
    .yannick .right-kv {
      display: none; } }

.yannick .ytm-logo {
  width: 267px;
  left: 150px;
  top: 108px;
  text-align: center; }
  @media screen and (max-width: 1440px) {
    .yannick .ytm-logo {
      left: 122px;
      top: 77px;
      -webkit-transform: scale(0.9);
      transform: scale(0.9); } }
  @media screen and (max-height: 750px) {
    .yannick .ytm-logo {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      left: 29px;
      top: 38px; } }
  @media screen and (max-height: 680px) {
    .yannick .ytm-logo {
      top: 26px;
      left: 41px; } }
  @media screen and (max-width: 1236px) {
    .yannick .ytm-logo {
      left: 69px;
      top: 38px; } }
  @media screen and (max-width: 1024px) {
    .yannick .ytm-logo {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      left: 30px;
      top: 14px; } }
  .yannick .ytm-logo li {
    color: black;
    text-align: center; }
    .yannick .ytm-logo li:nth-child(2) {
      font-size: 28px;
      font-size: 2.8rem;
      font-weight: bold;
      letter-spacing: 2.8px;
      margin-top: 3px;
      margin-bottom: -1px; }
    .yannick .ytm-logo li:nth-child(3) {
      font-size: 20px;
      font-size: 2rem;
      letter-spacing: 2px; }

.yannick .machine-kv {
  width: 470px;
  left: 28%;
  top: 64px;
  transition: all .3s ease; }
  @media screen and (min-width: 1580px) {
    .yannick .machine-kv {
      left: 25%; } }
  @media screen and (max-width: 1440px) {
    .yannick .machine-kv {
      width: 500px; } }
  @media screen and (max-width: 1300px) {
    .yannick .machine-kv {
      width: 480px;
      left: 16%;
      top: 54px; } }
  @media screen and (max-height: 750px) {
    .yannick .machine-kv {
      width: 375px;
      left: 30%;
      top: 24px; } }
  @media screen and (max-height: 680px) {
    .yannick .machine-kv {
      top: 20px;
      width: 350px; } }
  @media screen and (max-width: 1024px) {
    .yannick .machine-kv {
      width: 76%;
      top: 29px;
      left: 15%; } }
  @media screen and (max-width: 767px) {
    .yannick .machine-kv {
      width: 63%;
      left: 11px;
      top: 40px; } }
  @media screen and (max-width: 413px) {
    .yannick .machine-kv {
      top: 22px;
      width: 68%;
      left: 12px; } }
  @media screen and (max-width: 374px) {
    .yannick .machine-kv {
      top: 13px; } }
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .yannick .machine-kv {
      width: 69%;
      left: 19px;
      top: 40px; } }

.yannick .mom {
  width: 207px;
  top: 211px;
  left: -31px; }
  @media screen and (max-height: 750px) {
    .yannick .mom {
      top: 93px;
      left: -115px; } }
  @media screen and (max-height: 680px) {
    .yannick .mom {
      top: 80px; } }
  @media screen and (max-width: 1236px) {
    .yannick .mom {
      left: -70px; } }
  @media screen and (max-width: 1024px) {
    .yannick .mom {
      top: 83px;
      left: -131px; } }
  @media screen and (max-width: 1440px) {
    .yannick .mom img {
      -webkit-transform: scale(0.9);
      transform: scale(0.9); } }
  @media screen and (max-height: 750px) {
    .yannick .mom img {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); } }
  @media screen and (max-width: 1024px) {
    .yannick .mom img {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); } }

.yannick .mrtBox {
  left: -33%;
  top: 320px;
  width: 100%; }
  @media screen and (max-width: 1360px) {
    .yannick .mrtBox {
      top: 338px; } }
  @media screen and (max-width: 1200px) {
    .yannick .mrtBox {
      top: 445px; } }
  @media screen and (max-height: 750px) {
    .yannick .mrtBox {
      top: 237px; } }
  @media screen and (max-height: 680px) {
    .yannick .mrtBox {
      top: 190px; } }
  @media screen and (max-width: 1024px) {
    .yannick .mrtBox {
      top: 350px; } }
  @media screen and (max-width: 767px) {
    .yannick .mrtBox {
      top: 35vh; } }

.yannick .couple-kv {
  display: none; }
  @media screen and (max-width: 767px) {
    .yannick .couple-kv {
      display: block;
      width: 40%;
      bottom: -52vh;
      right: 9%; } }
  @media screen and (max-width: 413px) {
    .yannick .couple-kv {
      bottom: -50vh;
      width: 37%; } }
  @media screen and (max-width: 374px) {
    .yannick .couple-kv {
      bottom: -50vh; } }
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .yannick .couple-kv {
      width: 42%;
      bottom: -46vh;
      right: 7%; } }

.yannick .mrt {
  width: 345px; }
  @media screen and (max-width: 1680px) {
    .yannick .mrt {
      margin-left: -5%; } }
  @media screen and (max-width: 1580px) {
    .yannick .mrt {
      margin-left: 0; } }
  @media screen and (max-width: 1360px) {
    .yannick .mrt {
      width: 300px; } }
  @media screen and (max-height: 750px) {
    .yannick .mrt {
      width: 300px; } }
  @media screen and (max-width: 1200px) {
    .yannick .mrt {
      display: none; } }

.yannick .dad {
  width: 267px;
  top: 192px;
  left: 273px; }
  @media screen and (max-width: 1440px) {
    .yannick .dad {
      left: 217px; } }
  @media screen and (max-height: 750px) {
    .yannick .dad {
      top: 75px;
      left: 155px; } }
  @media screen and (max-height: 680px) {
    .yannick .dad {
      top: 49px; } }
  @media screen and (max-width: 1024px) {
    .yannick .dad {
      top: 40px;
      left: 160px; } }
  @media screen and (max-width: 1440px) {
    .yannick .dad img {
      -webkit-transform: scale(0.9);
      transform: scale(0.9); } }
  @media screen and (max-height: 750px) {
    .yannick .dad img {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); } }
  @media screen and (max-width: 1024px) {
    .yannick .dad img {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); } }

.yannick .gateBox {
  width: 100%;
  right: 0;
  top: 332px;
  z-index: -1; }
  .yannick .gateBox::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1200px) {
    .yannick .gateBox {
      top: 445px; } }
  @media screen and (max-height: 750px) {
    .yannick .gateBox {
      top: 231px; } }
  @media screen and (max-height: 680px) {
    .yannick .gateBox {
      top: 185px; } }
  @media screen and (max-width: 1024px) {
    .yannick .gateBox {
      top: 350px; } }

.yannick .gate {
  width: 360px;
  margin-bottom: -3px;
  float: right; }
  @media screen and (max-width: 1680px) {
    .yannick .gate {
      margin-right: -5%; } }
  @media screen and (max-width: 1580px) {
    .yannick .gate {
      margin-right: -10%; } }
  @media screen and (max-width: 1200px) {
    .yannick .gate {
      display: none; } }

.yannick .line-kv-r,
.yannick .line-kv-l {
  width: 100%; }
  @media screen and (max-width: 767px) {
    .yannick .line-kv-r img,
    .yannick .line-kv-l img {
      width: auto !important;
      height: 100% !important; } }

.yannick .video {
  margin-top: 155px;
  padding-bottom: 100px; }
  @media screen and (max-width: 767px) {
    .yannick .video {
      padding-bottom: 60px;
      margin-top: 0; } }
  .yannick .video:after {
    content: '';
    width: 100%;
    height: 300px;
    background: #e10012;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1; }
    @media screen and (max-width: 767px) {
      .yannick .video:after {
        height: 165px; } }
    @media screen and (max-width: 374px) {
      .yannick .video:after {
        height: 140px; } }

.yannick .videoBox {
  width: 692px;
  margin: auto; }
  @media screen and (max-width: 1024px) {
    .yannick .videoBox {
      width: 645px; } }
  @media screen and (max-width: 767px) {
    .yannick .videoBox {
      width: 85%; } }
  @media screen and (min-width: 1025px) {
    .yannick .videoBox a:hover .pic {
      -webkit-filter: brightness(100%);
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter');
      filter: brightness(100%); } }
  .yannick .videoBox .pic {
    -webkit-filter: brightness(70%);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(70%);
    transition: -webkit-filter .3s ease;
    transition: filter .3s ease;
    transition: filter .3s ease, -webkit-filter .3s ease; }

.yannick .girl {
  width: 200px;
  top: 36px;
  left: -211px; }
  @media screen and (max-width: 1024px) {
    .yannick .girl {
      width: 150px;
      top: 36px;
      left: -175px; } }

.yannick .bird {
  width: 195px;
  top: 16px;
  right: -280px; }
  @media screen and (max-width: 1024px) {
    .yannick .bird {
      width: 155px;
      top: 27px;
      right: -180px; } }

.yannick .fork,
.yannick .knife {
  display: block; }
  @media screen and (max-width: 374px) {
    .yannick .fork,
    .yannick .knife {
      display: none; } }

.yannick .fork {
  top: -10px;
  left: -34px;
  width: 22px; }
  @media screen and (max-width: 767px) {
    .yannick .fork {
      top: 2px;
      left: -34px;
      width: 15px; } }

.yannick .knife {
  top: -14px;
  right: -33px;
  width: 21px; }
  @media screen and (max-width: 767px) {
    .yannick .knife {
      top: -38px;
      right: 12px;
      width: 13px; } }

.yannick .heart {
  width: 20px;
  top: -17px;
  left: 51px; }

.yannick .card {
  padding: 80px 0;
  background: url(https://fs1.shop123.com.tw/400189/upload/harddisc/4001890_file_516082533152018052525.png) no-repeat left bottom, #e4e5e7;
  transition: all .3s ease;
  background-size: 80%; }
  @media screen and (max-width: 1200px) {
    .yannick .card {
      background-size: 98%;
      background-position: -100px bottom; } }
  @media screen and (max-width: 767px) {
    .yannick .card {
      padding: 60px 0 285px;
      background: url(https://fs1.shop123.com.tw/400189/upload/harddisc/4001890_file_271513633152018052536.png) no-repeat left bottom, #e4e5e7;
      background-size: contain; } }
  @media screen and (max-width: 374px) {
    .yannick .card {
      padding-bottom: 240px; } }
  .yannick .card .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 12px;
    padding-left: 55px; }
    @media screen and (max-width: 767px) {
      .yannick .card .main {
        padding-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }
  .yannick .card .wording {
    margin-top: 66px;
    text-align: left; }
    @media screen and (max-width: 767px) {
      .yannick .card .wording {
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center; } }
  .yannick .card li {
    text-align: center; }
    .yannick .card li span {
      display: inline-block;
      vertical-align: middle; }
    .yannick .card li:first-child {
      font-size: 16px;
      font-size: 1.6rem;
      letter-spacing: 1.6px; }
      @media screen and (max-width: 767px) {
        .yannick .card li:first-child {
          font-size: 1.4rem; } }
      .yannick .card li:first-child span:last-child {
        padding: 2px 7px;
        border: 1px solid black;
        margin-top: 22px;
        margin-left: 28px; }
        @media screen and (max-width: 767px) {
          .yannick .card li:first-child span:last-child {
            margin-top: 22px;
            margin-left: 20px; } }
    .yannick .card li:nth-child(2) {
      font-size: 20px;
      font-size: 2rem;
      letter-spacing: 2px;
      margin-top: 15px; }
    .yannick .card li:nth-child(3) {
      font-size: 13px;
      font-size: 1.3rem;
      letter-spacing: 1.3px; }
  @media screen and (max-width: 767px) {
    .yannick .card h3 span {
      display: block;
      font-size: 4vw; } }
  @media screen and (max-width: 767px) {
    .yannick .card h3 .none-m {
      display: none; } }

.yannick .card-logo {
  width: 162px; }
  @media screen and (max-width: 767px) {
    .yannick .card-logo {
      width: 125px; } }

.yannick .cardBox {
  width: 255px;
  margin-left: 33px; }
  @media screen and (max-width: 767px) {
    .yannick .cardBox {
      width: 50%;
      margin: auto; } }

.yannick .banklogo {
  width: 95px;
  margin: 0 8px; }

@media screen and (max-width: 767px) {
  .yannick .btnBox {
    width: 92%;
    margin: 30px auto; } }

@media screen and (max-width: 767px) {
  .yannick .btnBox a {
    width: 48%; } }

.yannick .btnBox a:first-child {
  margin-right: 25px; }
  @media screen and (max-width: 767px) {
    .yannick .btnBox a:first-child {
      margin-right: 4%; } }

.yannick .cup {
  width: 40px;
  right: -55px;
  top: -50px; }
  @media screen and (max-width: 767px) {
    .yannick .cup {
      width: 34px;
      right: 45px;
      top: -66px; } }
  @media screen and (max-width: 374px) {
    .yannick .cup {
      width: 30px;
      right: 37px;
      top: -58px; } }

@media screen and (min-width: 768px) {
  .yannick .card-star1,
  .yannick .card-star2,
  .yannick .card-star3 {
    display: none; } }

.yannick .card-star1 {
  width: 17px;
  top: 97px;
  left: -41px; }

.yannick .card-star2 {
  width: 28px;
  top: 114px;
  left: -26px; }

.yannick .card-star3 {
  width: 14px;
  top: 26px;
  right: 4px; }

.yannick .product {
  padding-top: 160px; }
  @media screen and (max-width: 767px) {
    .yannick .product {
      padding-top: 60px; } }
  .yannick .product .ytm {
    width: 88px;
    margin-right: 5px; }
    @media screen and (max-width: 767px) {
      .yannick .product .ytm {
        width: 70px;
        margin-right: 8px; } }
    @media screen and (max-width: 374px) {
      .yannick .product .ytm {
        width: 55px; } }
  .yannick .product .lin-cir {
    width: 171px;
    right: 0;
    bottom: -11px; }
    @media screen and (max-width: 767px) {
      .yannick .product .lin-cir {
        width: 140px;
        right: 28px;
        bottom: -5px; } }
    @media screen and (max-width: 374px) {
      .yannick .product .lin-cir {
        width: 100px;
        right: 28px;
        bottom: -3px; } }
  .yannick .product .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 40px; }
    @media screen and (max-width: 767px) {
      .yannick .product .main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media screen and (max-width: 374px) {
      .yannick .product .main {
        margin-top: 20px; } }
  .yannick .product .item {
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 30px;
    text-align: left; }
    @media screen and (max-width: 767px) {
      .yannick .product .item {
        width: 85%;
        margin: 20px auto; } }
  .yannick .product .picBox {
    width: 100%;
    height: 257px; }
    @media screen and (max-width: 767px) {
      .yannick .product .picBox {
        height: auto; } }
  .yannick .product .icon1 {
    width: 37px;
    top: -3px;
    right: -47px; }
  .yannick .product .icon2 {
    width: 29px;
    top: 3px;
    right: -39px; }
  .yannick .product .icon3 {
    width: 28px;
    top: -3px;
    right: -38px; }
  .yannick .product .tt {
    font-size: 20px;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px; }
  .yannick .product p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.73;
    letter-spacing: 1.5px;
    margin-bottom: 40px; }
    @media screen and (max-width: 767px) {
      .yannick .product p {
        margin-bottom: 20px; } }
    @media screen and (max-width: 374px) {
      .yannick .product p {
        font-size: 1.4rem; } }
    .yannick .product p.cheese {
      margin-bottom: 15px; }
      @media screen and (max-width: 767px) {
        .yannick .product p.cheese {
          margin-bottom: 20px; } }
  .yannick .product .price {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 42px; }
    @media screen and (max-width: 767px) {
      .yannick .product .price {
        margin-bottom: 25px; } }
  @media screen and (max-width: 767px) {
    .yannick .product .line-red {
      width: 90%;
      left: 5%;
      height: 10px;
      bottom: 2px; }
      .yannick .product .line-red img {
        height: 100% !important; } }
  .yannick .product .exclusive {
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .yannick .product .exclusive {
        margin-bottom: 25px; } }
    .yannick .product .exclusive span {
      font-weight: normal; }
      .yannick .product .exclusive span span {
        font-weight: normal; }
    .yannick .product .exclusive .red {
      font-weight: bold; }
  @media screen and (max-width: 767px) {
    .yannick .product .btn {
      width: 100%; } }

.yannick .org {
  color: #a9a9a9;
  font-size: 15px;
  font-size: 1.5rem;
  display: block;
  text-decoration: line-through; }

.yannick .tape1,
.yannick .tape2 {
  width: 100px; }

.yannick .tape1 {
  top: -12px;
  left: -27px; }

.yannick .tape2 {
  bottom: -12px;
  right: -27px; }

.yannick .gift {
  margin-top: 185px;
  margin-bottom: 250px; }
  @media screen and (max-width: 767px) {
    .yannick .gift {
      margin: 60px auto; } }
  .yannick .gift h2,
  .yannick .gift p {
    text-align: left; }
    @media screen and (max-width: 767px) {
      .yannick .gift h2,
      .yannick .gift p {
        text-align: center; } }
    .yannick .gift h2 span,
    .yannick .gift p span {
      display: block; }
  @media screen and (max-width: 767px) {
    .yannick .gift p {
      margin-top: 10px; } }

.yannick .gift-bag {
  width: 290px;
  left: -320px;
  top: -112px; }
  @media screen and (max-width: 1024px) {
    .yannick .gift-bag {
      width: 200px;
      left: -240px;
      top: -40px; } }
  @media screen and (max-width: 767px) {
    .yannick .gift-bag {
      width: 58%;
      position: inherit;
      left: auto;
      top: auto;
      margin: auto; } }

.yannick .leaf1 {
  width: 35px;
  right: -7px;
  bottom: -3px; }
  @media screen and (max-width: 767px) {
    .yannick .leaf1 {
      width: 25px; } }

.yannick .leaf2 {
  width: 38px;
  top: 20px;
  left: 0; }
  @media screen and (max-width: 767px) {
    .yannick .leaf2 {
      width: 30px;
      top: auto;
      bottom: 0; } }

.yannick .gift-bird {
  display: none; }
  @media screen and (max-width: 767px) {
    .yannick .gift-bird {
      display: block;
      width: 150px;
      top: 0;
      right: -125px; } }

.yannick .couple {
  width: 285px;
  top: -118px;
  right: -236px; }
  @media screen and (max-width: 1024px) {
    .yannick .couple {
      width: 230px;
      top: -75px;
      right: -201px; } }

.yannick .tt-gift {
  width: 42px;
  top: -15px;
  right: 80px;
  -webkit-transform: rotate(-18deg);
  transform: rotate(-18deg); }
  @media screen and (max-width: 767px) {
    .yannick .tt-gift {
      -webkit-transform: rotate(18deg);
      transform: rotate(18deg);
      top: -13px;
      right: 36px;
      width: 30px; } }

.yannick .ytmInfo {
  margin-bottom: 180px; }
  @media screen and (max-width: 767px) {
    .yannick .ytmInfo {
      margin-top: 80px;
      margin-bottom: 50px; } }
  .yannick .ytmInfo .main {
    margin-top: 85px; }
    @media screen and (max-width: 767px) {
      .yannick .ytmInfo .main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 10px; } }
  .yannick .ytmInfo .item {
    width: 400px;
    margin: 0 34px; }
    @media screen and (max-width: 767px) {
      .yannick .ytmInfo .item {
        width: 85%;
        margin: 20px auto 30px; } }
    .yannick .ytmInfo .item:first-child:after {
      content: '';
      width: 8px;
      height: 90%;
      background: url(https://fs1.shop123.com.tw/400189/upload/harddisc/4001890_file_366673046152018052530.png);
      position: absolute;
      top: 0;
      right: -38px; }
  .yannick .ytmInfo li {
    text-align: center; }
    .yannick .ytmInfo li:first-child {
      font-size: 20px;
      font-size: 2rem;
      letter-spacing: 2px;
      font-weight: bold; }
      @media screen and (max-width: 767px) {
        .yannick .ytmInfo li:first-child {
          font-size: 1.7rem; } }
      @media screen and (max-width: 413px) {
        .yannick .ytmInfo li:first-child {
          font-size: 1.5rem; } }
      @media screen and (max-width: 374px) {
        .yannick .ytmInfo li:first-child {
          font-size: 1.3rem; } }
    .yannick .ytmInfo li:nth-child(2) {
      font-size: 15px;
      font-size: 1.5rem;
      line-height: 1.6;
      letter-spacing: 1.5px;
      margin-bottom: 25px; }
      @media screen and (max-width: 767px) {
        .yannick .ytmInfo li:nth-child(2) {
          margin-bottom: 15px; } }
      @media screen and (max-width: 374px) {
        .yannick .ytmInfo li:nth-child(2) {
          font-size: 1.3rem; } }
      .yannick .ytmInfo li:nth-child(2) span {
        display: block; }
    .yannick .ytmInfo li:nth-child(4) {
      font-size: 20px;
      font-size: 2rem;
      margin-top: 12px;
      text-align: center; }
  .yannick .ytmInfo .line-cir:after {
    bottom: -22px;
    background-size: cover; }
    @media screen and (max-width: 767px) {
      .yannick .ytmInfo .line-cir:after {
        bottom: -15px;
        height: 14px; } }
  .yannick .ytmInfo .videoBox {
    display: block;
    width: 100%; }
    @media screen and (min-width: 1025px) {
      .yannick .ytmInfo .videoBox:hover .pic {
        -webkit-filter: brightness(100%);
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter');
        filter: brightness(100%); } }
  .yannick .ytmInfo .pic {
    display: block; }
  .yannick .ytmInfo .deco {
    width: 250px;
    top: -28px;
    left: 0; }
    @media screen and (max-width: 1360px) {
      .yannick .ytmInfo .deco {
        width: 255px; } }
    @media screen and (max-width: 1200px) {
      .yannick .ytmInfo .deco {
        display: none; } }
    @media screen and (max-width: 767px) {
      .yannick .ytmInfo .deco {
        display: block;
        position: inherit;
        margin: auto;
        width: 50%; } }

.yannick .feature {
  margin-bottom: 165px; }
  @media screen and (max-width: 767px) {
    .yannick .feature {
      margin-bottom: 50px; } }
  .yannick .feature .line-red {
    width: 108%;
    left: -4%; }
  .yannick .feature .deco {
    display: none; }
    @media screen and (max-width: 767px) {
      .yannick .feature .deco {
        display: block;
        width: 27px;
        top: -7px;
        right: -22px; } }
  .yannick .feature ul {
    margin-top: 90px; }
    @media screen and (max-width: 767px) {
      .yannick .feature ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 20px; } }
  .yannick .feature li {
    width: 180px;
    text-align: center;
    margin: 0 24px; }
    @media screen and (max-width: 767px) {
      .yannick .feature li {
        width: 50%;
        margin: 20px auto; } }
    .yannick .feature li:not(:last-child) {
      position: relative; }
      .yannick .feature li:not(:last-child):after {
        content: '';
        width: 8px;
        height: 100%;
        background: url(https://fs1.shop123.com.tw/400189/upload/harddisc/4001890_file_366673046152018052530.png);
        position: absolute;
        top: 0;
        right: -30px; }
        @media screen and (max-width: 767px) {
          .yannick .feature li:not(:last-child):after {
            right: -4px; } }
    @media screen and (max-width: 767px) {
      .yannick .feature li:nth-child(2):after {
        display: none; } }
  .yannick .feature .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    height: 98px; }
  .yannick .feature .tt {
    display: block;
    font-size: 20px;
    font-size: 2rem;
    margin: 10px 0 5px;
    letter-spacing: 2px;
    font-weight: bold; }
  .yannick .feature .txt {
    font-size: 15px;
    font-size: 1.5rem; }
    @media screen and (max-width: 767px) {
      .yannick .feature .txt {
        font-size: 1.4rem; } }
    .yannick .feature .txt span {
      display: block; }
      .yannick .feature .txt span span {
        display: inline-block; }
  .yannick .feature .bag .icon {
    width: 100px; }
  .yannick .feature .cake .icon {
    width: 116px; }
  .yannick .feature .pay .icon {
    width: 95px; }
  .yannick .feature .buy .icon {
    width: 91px; }

.yannick .num54 {
  width: 47px;
  display: inline-block;
  margin: 0 10px 10px; }
  @media screen and (max-width: 767px) {
    .yannick .num54 {
      margin: 0 10px 15px;
      width: 40px; } }
  @media screen and (max-width: 374px) {
    .yannick .num54 {
      width: 35px; } }

.yannick .location h2 .ttBox {
  padding: 0 30px; }

.yannick .location .deco {
  display: none; }
  @media screen and (max-width: 767px) {
    .yannick .location .deco {
      display: block;
      width: 30px;
      right: 0;
      top: -11px; } }

.yannick .location .line-red {
  bottom: 8px; }

.yannick .location .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
  margin-top: 70px; }
  @media screen and (max-width: 767px) {
    .yannick .location .main {
      margin-top: 30px; } }

.yannick .location .redBox {
  width: 140px;
  background: #e10012;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  @media screen and (max-width: 1024px) {
    .yannick .location .redBox {
      width: 10%; } }
  @media screen and (max-width: 767px) {
    .yannick .location .redBox {
      width: 15%; } }

.yannick .location .mrt-line {
  width: 35%;
  text-align: left;
  padding-right: 20px; }
  @media screen and (max-width: 1440px) {
    .yannick .location .mrt-line {
      width: 40%; } }
  @media screen and (max-width: 1024px) {
    .yannick .location .mrt-line {
      width: 65%; } }
  @media screen and (max-width: 767px) {
    .yannick .location .mrt-line {
      width: 85%;
      padding-right: 0; } }

.yannick .location .tt {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold; }
  .yannick .location .tt:before {
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 100%;
    top: 5px;
    left: -42px;
    position: absolute; }
    @media screen and (max-width: 767px) {
      .yannick .location .tt:before {
        width: 20px;
        height: 20px;
        left: -33px;
        top: 5px; } }
  @media screen and (max-width: 767px) {
    .yannick .location .tt {
      font-size: 2rem; } }

.yannick .location p {
  font-size: 18px;
  font-size: 1.8rem; }
  @media screen and (max-width: 767px) {
    .yannick .location p {
      font-size: 1.6rem; } }

.yannick .location .machineBox {
  width: 36%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-left: 30px;
  padding-bottom: 10px; }
  @media screen and (max-width: 1024px) {
    .yannick .location .machineBox {
      padding-bottom: 60px; } }
  @media screen and (max-width: 767px) {
    .yannick .location .machineBox {
      display: none; } }

.yannick .location .machine {
  width: 500px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  @media screen and (max-width: 1440px) {
    .yannick .location .machine {
      width: 455px; } }
  @media screen and (max-width: 1024px) {
    .yannick .location .machine {
      width: 355px; } }

.yannick .location li {
  padding-left: 28px;
  margin: 30px 0; }
  @media screen and (max-width: 767px) {
    .yannick .location li {
      margin: 20px 0;
      padding-left: 22px;
      padding-right: 20px; } }
  .yannick .location li:first-child .tt:before {
    background: #0a6cca; }
  .yannick .location li:nth-child(2) .tt:before {
    background: #c1892a; }
  .yannick .location li:nth-child(3) .tt:before {
    background: #e10012;
    border: 3px solid white;
    top: 3px; }
    @media screen and (max-width: 767px) {
      .yannick .location li:nth-child(3) .tt:before {
        top: 2px; } }
  .yannick .location li:nth-child(4) .tt:before {
    background: #0a8557; }
  .yannick .location li:nth-child(5) .tt {
    margin-bottom: 10px; }
    .yannick .location li:nth-child(5) .tt:before {
      background: #f9b21e; }

.yannick .star1 {
  top: -188px;
  left: 46px;
  width: 18px; }

.yannick .star2 {
  top: -75px;
  left: 176px;
  width: 28px; }

.yannick .star3 {
  top: -127px;
  left: 315px;
  width: 15px; }

.yannick footer {
  margin-top: 135px;
  padding-bottom: 10px; }
  .yannick footer .main {
    width: 100%; }
    .yannick footer .main:before {
      content: '';
      width: 100%;
      height: 17px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(https://fs1.shop123.com.tw/400189/upload/harddisc/4001890_file_938653842152018052538.png) repeat-x; }
  .yannick footer .mrt-cart {
    left: -20%;
    top: -66px; }
    @media screen and (max-width: 767px) {
      .yannick footer .mrt-cart {
        left: -100%; } }
    .yannick footer .mrt-cart img {
      width: auto !important;
      height: 65px !important; }
  .yannick footer li {
    font-size: 13px;
    font-size: 1.3rem;
    color: white;
    line-height: 2.15;
    font-weight: 500; }
  .yannick footer .right {
    color: white;
    text-align: right; }
  .yannick footer .left {
    margin-right: 170px; }
    @media screen and (max-width: 1024px) {
      .yannick footer .left {
        margin-right: 100px; } }
    @media screen and (max-width: 767px) {
      .yannick footer .left {
        margin-right: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center; } }
  .yannick footer a {
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }
    @media screen and (min-width: 1025px) {
      .yannick footer a:hover {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px); } }

.yannick .footer-logo {
  width: 170px;
  margin-right: 30px; }
  @media screen and (max-width: 767px) {
    .yannick .footer-logo {
      width: 150px;
      margin-right: 0;
      margin-bottom: 10px; } }

.yannick .social {
  margin-bottom: 10px; }
  .yannick .social > * {
    display: inline-block;
    vertical-align: middle; }
  .yannick .social span:first-child {
    line-height: 1;
    font-size: 13px;
    font-size: 1.3rem; }
  .yannick .social span:nth-child(2) {
    width: 30px;
    height: 1px;
    background: #fff;
    display: inline-block;
    margin: 0 20px; }
  .yannick .social a.ig {
    margin: 0 20px; }
  .yannick .social a img {
    height: 23px;
    width: auto; }

/*# sourceMappingURL=style.css.map */