.yannick {
    .kv {
        height: 85vh;
        padding-top: 60px;
        margin-bottom: 20px;
        @include media-min(768px) {
            min-height: 530px;
        }
        @include media-h(750px) {
            height: 80vh;
            padding-top: 35px;
        }
        @include m-1024 {
            height: 78vh;
            padding-top: 45px;
        }
        @include m-767 {
            width: 100%;
            height: 78vh;
            padding-top: 60px;
        }
        @include m-374 {
            padding-top: 40px;
        }
        .main {
            width: 100%;
            display: flex;
        }
    }
    h1 {
        font-size: 3.8rem;
        font-weight: bold;
        position: relative;
        letter-spacing: 3.8px;
        line-height: 0.3;
        @include m-1024 {
            transform: scale(0.9);
        }
        @include media-h(750px) {
            transform: scale(0.9);
        }
        @include m-767 {
            font-size: 3rem;
            transform: scale(1);
            line-height: 1;
        }
        @include m-374 {
            font-size: 2.2rem;
        }
        >span {
            display: block;
            span {
                vertical-align: middle;
            }
        }
        .ytm {
            width: 95px;
            display: inline-block;
            margin-right: 10px;
            margin-top: 3px;
            @include m-767 {
                width: 65px;
            }
            @include m-374 {
                width: 50px;
                margin-right: 6px;
                margin-top: 1px;
            }
        }
        .line-cir:after {
            @include m-767 {
                left: 50%;
                transform: translateX(-50%);
                bottom: -24px;
            }
        }
    }
    .year {
        width: 53px;
        display: inline-block;
        margin: 0 8px 14px;
        @include m-767 {
            width: 35px;
            margin: 0 8px 0 5px;
        }
        @include m-374 {
            width: 26px;
        }
    }
    .station {
        font-size: 4rem;
        padding: 0 3px;
        @include m-767 {
            font-size: 3.2rem;
        }
        @include m-374 {
            font-size: 2.4rem;
        }
    }
    .inner,
    .por {
        position: relative;
    }
    .flagBox {
        width: 100%;
        top: 0;
        left: 0;
        @include media-min(768px) {
            display: flex;
            justify-content: space-between;
        }
        >div {
            width: 30%;
            @include m-1024 {
                width: 40%;
            }
            @include m-767 {
                width: 106%;
            }
        }
    }
    .flag-l {
        @include m-767 {
            display: none;
        }
    }
    .flag-r {
        @include media-min(768px) {
            max-width: 600px;
        }
    }
    .b1,
    .b2,
    .b3 {
        width: 35px;
        display: block;
        @include m-767 {
            width: 30px;
        }
        @include m-413 {
            width: 25px;
        }
        @include m-374 {
            width: 20px;
        }
    }
    .b1 {
        top: -36px;
        left: -162px;
        @include m-767 {
            top: 33px;
            left: -32px;
        }
        @include m-413 {
            left: -22px;
        }
        @include m-374 {
            top: 30px;
            left: -28px;
        }
    }
    .b2 {
        right: -156px;
        bottom: -76px;
        @include m-767 {
            right: -35px;
            bottom: -62px;
        }
        @include m-413 {
            right: -26px;
            bottom: -104px;
        }
        @include m-374 {
            bottom: -55px;
            right: -27px;
        }
    }
    .b3 {
        top: -20px;
        left: -55px;
        @include m-767 {
            top: -22px;
            left: -43px;
        }
        @include m-413 {
            top: -19px;
            left: -34px;
        }
        @include m-374 {
            top: -8px;
            left: -32px;
        }
    }
    .left-kv {
        width: 45%;
        @include m-767 {
            width: 100%;
        }
    }
    .right-kv {
        width: 55%;
        @include m-767 {
            display: none;
        }
    }
    .ytm-logo {
        width: 267px;
        left: 150px;
        top: 108px;
        text-align: center;
        @include pc-1440 {
            left: 122px;
            top: 77px;
            transform: scale(0.9);
        }
        @include media-h(750px) {
            transform: scale(0.8);
            left: 29px;
            top: 38px;
        }
        @include media-h(680px) {
            top: 26px;
            left: 41px;
        }
        @include media(1236px) {
            left: 69px;
            top: 38px;
        }
        @include m-1024 {
            transform: scale(0.8);
            left: 30px;
            top: 14px;
        }
        li {
            color: black;
            text-align: center;
            &:nth-child(2) {
                font-size: 2.8rem;
                font-weight: bold;
                letter-spacing: 2.8px;
                margin-top: 3px;
                margin-bottom: -1px;
            }
            &:nth-child(3) {
                font-size: 2rem;
                letter-spacing: 2px;
            }
        }
    }
    .machine-kv {
        width: 470px;
        left: 28%;
        top: 64px;
        transition: all .3s ease;
        @include media-min(1580px) {
            left: 25%;
        }
        @include pc-1440 {
            width: 500px;
        }
        @include media(1300px) {
            width: 480px;
            left: 16%;
            top: 54px;
        }
        @include media-h(750px) {
            width: 375px;
            left: 30%;
            top: 24px;
        }
        @include media-h(680px) {
            top: 20px;
            width: 350px;
        }
        @include m-1024 {
            width: 76%;
            top: 29px;
            left: 15%;
        }
        @include m-767 {
            width: 63%;
            left: 11px;
            top: 40px;
        }
        @include m-413 {
            top: 22px;
            width: 68%;
            left: 12px;
        }
        @include m-374 {
            top: 13px;
        }
        @include ipX {
            width: 69%;
            left: 19px;
            top: 40px;
        }
    }
    .mom {
        width: 207px;
        top: 211px;
        left: -31px;
        @include media-h(750px) {
            top: 93px;
            left: -115px; // transform: scale(0.8);
        }
        @include media-h(680px) {
            top: 80px;
        }
        @include media(1236px) {
            left: -70px;
        }
        @include m-1024 {
            top: 83px;
            left: -131px;
        }
        img {
            @include pc-1440 {
                transform: scale(0.9);
            }
            @include media-h(750px) {
                transform: scale(0.8);
            }
            @include m-1024 {
                transform: scale(0.8);
            }
        }
    }
    .mrtBox {
        left: -33%;
        top: 320px;
        width: 100%;
        @include media(1360px) {
            top: 338px;
        }
        @include media(1200px) {
            top: 445px;
        }
        @include media-h(750px) {
            top: 237px;
        }
        @include media-h(680px) {
            top: 190px;
        }
        @include m-1024 {
            top: 350px;
        }
        @include m-767 {
            top: 35vh;
        }
    }
    .couple-kv {
        display: none;
        @include m-767 {
            display: block;
            width: 40%;
            bottom: -52vh;
            right: 9%;
        }
        @include m-413 {
            bottom: -50vh;
            width: 37%;
        }
        @include m-374 {
            bottom: -50vh;
        }
        @include ipX {
            width: 42%;
            bottom: -46vh;
            right: 7%;
        }
    }
    .mrt {
        width: 345px;
        @include pc-1680 {
            margin-left: -5%;
        }
        @include media(1580px) {
            margin-left: 0;
        }
        @include media(1360px) {
            width: 300px;
        }
        @include media-h(750px) {
            width: 300px;
        }
        @include media(1200px) {
            display: none;
        }
    }
    .dad {
        width: 267px;
        top: 192px;
        left: 273px;
        @include pc-1440 {
            left: 217px;
        }
        @include media-h(750px) {
            top: 75px;
            left: 155px;
        }
        @include media-h(680px) {
            top: 49px;
        }
        @include m-1024 {
            top: 40px;
            left: 160px;
        }
        img {
            @include pc-1440 {
                transform: scale(0.9);
            }
            @include media-h(750px) {
                transform: scale(0.8);
            }
            @include m-1024 {
                transform: scale(0.8);
            }
        }
    }
    .gateBox {
        width: 100%;
        right: 0;
        top: 332px;
        @include clearfix;
        z-index: -1;
        @include media(1200px) {
            top: 445px;
        }
        @include media-h(750px) {
            top: 231px;
        }
        @include media-h(680px) {
            top: 185px;
        }
        @include m-1024 {
            top: 350px;
        }
    }
    .gate {
        width: 360px;
        margin-bottom: -3px;
        float: right;
        @include pc-1680 {
            margin-right: -5%;
        }
        @include media(1580px) {
            margin-right: -10%;
        }
        @include media(1200px) {
            display: none;
        }
    }
    .line-kv-r,
    .line-kv-l {
        width: 100%;
    }
}