.yannick {
    div,
    span,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    img,
    ul,
    li,
    article,
    embed,
    footer,
    header,
    nav,
    section,
    {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }
    html {
        line-height: 1;
    }
    ol,
    ul {
        list-style: none;
    }
    a img {
        border: none;
    }
    footer,
    header,
    main,
    menu,
    nav,
    section {
        display: block;
    }
}