doctype html
html
    head
        include head
    body
        block trans
            include trans
        //- lightbox
        //- block lightbox
        //-     .popup
        // content
        .wrap
            block content
            


